# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
wheelhouse/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build_commands_for_pyNetX.sh
netopeer2_testing_steps.md
get-pip.py

# Miscellaneous
.DS_Store
get-pip.py